<!DOCTYPE html>
<html lang='en'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>UnitPay - Эффективный СМС Биллинг</title>
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="view/css/988be4b.css" />
    <!--[if IE]>
    <meta content='IE=7' http-equiv='X-UA-Compatible' />
    <![endif]-->
</head>
<body>
<div class='container' id='login'>
    <div id='logo'>
        <a target="_blank" href="http://unitpay.ru/" title="UnitPay - Агрегатор мобильных платежей">
            <img src="view/images/61b1f76.png" alt="Логотип"
                 width="218" height="56">
        </a>
    </div>
    <div style='width:540px; margin:auto;'>
        <div class='section section-large'>
            <div class='section-header'>
                <h3>
                    <?php echo @$templateVars['title'] ?>
                </h3>
                <?php if(!empty($_GET['action']) && $_GET['action'] != 'welcome'): ?>
                <div class="btn-toolbar section-actions">
                <div class="btn-group"><a class="btn" href="?action=welcome">
                    Начать сначала
                </a></div>
                </div>
                <?php endif; ?>
            </div>
            <div class='section-body'>

                <form action="<?php echo @$templateVars['action'] ?>" method="<?php echo @$templateVars['method'] ?>" class="new_user" id="new_user" >

                <?php echo @$templateVars['content'] ?>

                    <div class='form-actions'>

                        <div class='row-fluid'>
                            <div class='span6'>
                                <input class="btn btn-primary btn-large" name=""
                                       type="submit" value="<?php echo @$templateVars['buttonText'] ?>"/>
                                <?php if (!empty($templateVars['back'])): ?>
                                <a href="<?php echo @$templateVars['back'] ?>" class="btn btn-link">Назад</a>
                                <?php endif; ?>
                            </div>

                            <div class='span6' style='padding-top:10px'>
                                <p class='ar'>
                                    <i class='icon-user'></i>
                                    Возникли вопросы?
                                    <a href="#" onclick="o=window.open;o('https://siteheart.com/webconsultation/519615?', 'siteheart_sitewindow_519615', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;"> Помощь</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>
